<section class="music-section text-center">
	<div class="container">
		<div class="row top-padding text-center">
			<h2>{{title}}</h2>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div id="links">
					<a ng-repeat="video in videos" youtube="" poster="" href="images/banana.jpg" title="">
						<img src="images/thumbnails/banana.jpg" alt="Banana">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>