<div class="container">

	<h2 class="text-center title">About Mongoose</h2>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<h5><strong>Begin of the Mongoose<br></strong></h5>

			<p>Lipstick Powder trembling voice that thrilled nabit Dun October laugh sumbi breath passing through the short summer night, shared a story with nabilrera staying drunk all the songs I remember crying and Sisters tonight in fact I did not have lipstick powder also not forget the mongoose nabit October seolreeo songs sung remember everything shared a short summer passes Dawn stories sad farewell to death all the songs, remember, remember, remember, remember that nabit powder lipstick trembling sumbi breath sounds are thrilled to have a laugh in October Dunn nabilrera take your breath and cried at night all the songs, remember, remember, remember, remember</p>
		</div>
		<div class="col-sm-4">
			<h5><strong>History of the Mongoose<br></strong></h5>

			<br> <br> about band<br> <br>
			<h5><strong>Author links<br></strong></h5>

			<p><a href="https://twitter.com/serggg">Twitter</a> /
				<a href="https://www.facebook.com/band.mongoose">Facebook</a></p>
		</div>
	</div>
</div>