<section id="contact" class="contact-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Contact Us</h2>

				<h3>Press, Booking, or Just say Hello!</h3>

				<h4>MONGOOSE@MONGOOSE.CO.KR</h4>
				<ul class="list-inline banner-social-buttons">
					<li><a target="_blank" href="https://www.facebook.com/band.mongoose" class="btn btn-default btn-lg"><i
							class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
					</li>
					<li><a target="_blank" href="https://twitter.com/band_mongoose" class="btn btn-default btn-lg"><i
							class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
					</li>
					<li><a target="_blank" href="https://twitter.com/mongoose_bot" class="btn btn-default btn-lg"><i
							class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter Bot</span></a>
					</li>
				</ul>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a target="_blank" href="http://www.youtube.com/channel/UCwoU_LoYT63nwgRg3z2fS7Q/playlists" class="btn btn-default btn-lg"><i
								class="fa fa-youtube-square fa-fw"></i> <span class="network-name">YouTube</span></a>
					</li>
					<li><a target="_blank" href="https://soundcloud.com/band-mongoose" class="btn btn-default btn-lg"><i
							class="fa fa-soundcloud fa-fw"></i> <span class="network-name">SoundCloud</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>