<div class="music-header text-center">
	<h2>Albums</h2>
</div>
<section class="music-section text-center ">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
				<h3>Early Hits of the Mongoose</h3>
				<div class="col-md-6">
					<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43001396&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
				<div class="col-md-6">
					<div class="music-description">
						독특한 색깔로 홍대 클럽씬에서 탄탄한 팬층을 확보하고 있으며, 다소 몽환적이며 복고적인 따뜻한 사운드를 들려준다.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
				<h3>Dancing Zoo</h3>
				<div class="col-md-6">
					<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002084&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
				<div class="col-md-6">
					<div class="music-description">
						대담함과 재치에 있어 산울림을 떠올리게 했던 신인 밴드 몽구스의 두번째 앨범. '모두 함께 몽구스와 춤춰요'라고 권한다. 넓고 유연해진 인디 음악의 현주소를 확인할 수 있다.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
				<h3>The Mongoose</h3>
				<div class="col-md-6">
					<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002275&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
				<div class="col-md-6">

					<div class="music-description">
						젊음 있는 가정마다 한 장씩! Mongoose ? [The Mongoose]

						*Mongoose
						2004년 리뷰어들로부터 ‘썩 좋은’ 데뷔작이라는 평을 들어온 [Early Hits of the Mongoose], 제 3회 한국 대중음악상 ‘최우수 모던록 앨범 부문’을 수상하며 평단으로부터 확실한 검증을 받은 [Dancing Zoo]에 이어 한층 더 넘치는 그루브감과 댄서블한 트랙들로 가득 찬, 밴드명을 앨범 타이틀로 내걸 정도로 자신감이 넘치는 3집 [The Mongoose]로 돌아왔습니다. 그간 홍대앞 클럽 공연과 지방 투어 공연을 틈틈이 진행시키며 착실히 팬 층을 쌓아가던 그들은 자신들의 음악세계에 방점을 찍는 듯한 완성도 높은 음반을 내놓았습니다.

						2005년의 발견. 기타없이도 얼마나 코링한 사운드를 만들 수 있는지 증명한 몽구스는 분명 넥스트빅싱이 될 것이다. 사이키델릭한 사운드에 묻어드는 그루브. 거기에 시적인 가사가 얹혀 20대 초반의 나이에 만든 음악이라고는 믿을 수 없는 완성도를 선사한다. 소녀취향음악이 범람했던 2005년 모던록계의 유일한 보석이라고 해도 지나치지 않다.
						(대중음악평론가 김작가)

						- 제 3회 한국 대중음악상 심사 소감 中-

						*몽구스, 김성수 PD와 만나다!
						2집의 노이즈 캣(프로듀서)등 인디씬의 숨은 유능한 뮤지션들과 함께 음반작업을 해온 것으로도 유명합니다. 이번 3집에서 역시 몽구스는 새로운 앨범 제작에 들어가면서 자신들의 음악에 광을 더해줄 새로운 프로듀서를 찾고 있었습니다. 마침 몽구스의 음악을 유심히 들어왔던 김성수 프로듀서는 몽구스 멤버들과 자리를 함께 하게 되었고, 멤버들은 음반 프로듀서, 뮤지컬 음악감독 등 화려한 경력의 김성수 PD에 전적으로 신뢰를 보내며 음반의 녹음이 시작되었습니다.

						*한결 밝고 한결 가벼워진, 그리고 한결 들썩이는 넘버들!
						스트레이트하면서도 스물거리는, 뜨거우면서도 노곤한 그루브를 표현해내던 전작 [Dancing Zoo]에 비해 김성수PD의 손을 거치며 한결 파퓰러한 곡들을 매우 좋은 사운드로 뽑아낸 [Mongoose]에는 전작들에 비해 더욱 흥겨운 노래들로 가득합니다. 특히 이번 앨범에서는 전형적인 몽구스 타입의 곡인 가 흥겨운 멜로디와 현기증 나는 신스 패드를 통해 드라이브감의 극치를 맛보게 해줍니다. 이 외에도 2집 활동 중 공연을 통해 미리 선보여 팬들 사이에서 인기곡으로 자리매김한 <88>, 80년대 뉴웨이브 밴드들의 전성기를 연상케 하는 등등 밴드명을 타이틀로 내건 [The Mongoose]라는 타이틀에 걸맞는 수작들이 다수 포함되어 있습니다.

						**비범하고 자극적인, 댄스 플로어를 위한 로큰롤 음반. 새로움에 대한 열망과 옛 것에 대한 향수가 흥미진진하게 뒤엉켜 있다. - 최민우 (웹진 [weiv])

						**우리가 기다리고 있었던 100%의 몽구스. 완성형에 도달한 80년대 사운드가 격정적으로 돌아가는 미러볼처럼 낭만의 빛을 뿜어낸다. - 김작가 (음악수필가)

						**다분히 복고적인 듯하면서도 가장 최신 트렌드이고, 여린 듯 어눌한 듯하면서도 치명적인(?!) 유혹이 있는 몽구스의 새로운 음악들은 한 마디로 절제와 세련미를 함축하고 있다. 여전히 댄서블한 그루브와 가슴절절한 이색 서정의 공존! 이렇게 열심히 노력한 그대들, 올 해는 런던행 비행기를 타보는 것도 좋지 않을까?! - 글/성우진(음악평론가, 방송작가)

						**한밤중의 소년들
						무방비도시 서울의 밤, 몽구스의 3집 [The Mongoose]는 가차없이 당신을 초록빛으로 함몰시킨다. 당신으로 하여금 우주 최고의 옷으로 갈아입고 집을 나서게 만들고, ‘초록빛 밤’과 ‘초록색 밤’을 구분하도록 권유하고, ‘우주는 사랑이라 우리 만난 이 밤’을 춤추며 기념하길 종용할 것이다. 그러나 주의할 것. 모든 걸 잊을 수 있는 치명적인 쾌락을 주겠지만, 책임지진 않는다. 한밤중의 소년들이란 워낙 그렇다. - 장우철 ( 피처 에디터)

						*“몽구스가 빚어내는 찬란한 낭만의 사운드스케이프” - 리더 몽구가 소개하는 몽구스의 노래들

						우리 몽구스는 앨범을 만들 때 마치 우주선을 작동시키는 기분이었습니다. 하나 하나 신디사이저의 작은 노브들을 만지면서 컨트롤하고 톤을 잡고, 앰프와 믹서의 페이터와 노브를 지정하면서 소리를 듣고 또 만지고 또 고쳐서 이렇게 앨범까지 완성이 되었죠. 지금부터 여러분이 듣게 될 것은 단순한 밴드연주가 아니라 여러분을 황홀경으로 인도하는 하나의 안내서가 되어 여러분을 춤추게 했으면 좋겠습니다.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
				<h3>Cosmic Dancer</h3>
				<div class="col-md-6">
					<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002601&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
				<div class="col-md-6">
					<div class="music-description">한국대중음악상 최우수 모던록 앨범상을 수상하며 주목 받은 `몽구스`와 소녀시대, 브라운아이드걸스의 노래를 히트시키며 인기 작곡가 대열에 합류한 `지누(Hitchhiker)`의 화려한 콜라보레이션!!


						몽구스의 팬임을 자처하는 아티스트들의 담백한 추천!!
						- 유아인 : 더 깊숙히서 올라온 뜨거움으로 여전히 춤을 추는 이 어마어마한 댄서들!!
						- 장기하 : 몽구스는 여태껏 누구보다도 더 열심히 그리고 꾸준히 사람들을 춤추게 하기 위해 노력해 왔다. 이번 음반의 사운드는 그 노력의 완성본이다. 다함께 Cosmic Dance를 추자.
						- 스티키 몬스터 랩 : 밤을 위해 태어난 청춘들의 사운드 트랙
						- 이상은: 디지탈리즘을 연상시키는 톡톡튀는 뉴 팝 밴드. 보다 더 멀리 음악적 상상력을 증폭시키고 싶은 이들에게 추천하는 한 편의 디지탈+ S.F. +감성 +모던 록 +단편소설집`


						몽구스, 새롭고 전통적인 밴드
						아직도 몽구스의 데뷔앨범 [Early Hit of Mongoose]를 처음 들었을 때를 기억한다. 경이로운 아마추어리즘이었으며 감기약에 취한 백일몽 같은 음악이었다. 데뷔 앨범에 비하면 두 번째 앨범 [Dancing Zoo]는 관습적인 작법으로 만들어졌지만 놀랍게도 개성을 잃지 않았다. `관습적`과 `개성적`, 전혀 다른 형용사가 한 밴드를 설명하는 수사로 함께 쓰이는 게 이상하긴 한데 정말 그랬다. 디스코로 마이클 잭슨을 흠모하다가도 탐미적인 소년이 되어 우주적 고독을 드러내는 감성은 몽구스만의 고유성이 되었다. 세 번째 앨범 [The Mongoose]에 많은 사람들이 환영사를 보낸 것은 개성과 관습, 새것과 전통이 잘 버무려졌기 때문이었다. 2000년대 베스트 앨범을 선정하는 각종 음악 웹진들의 기획에서 어김없이 몽구스 3집이 거론되었다. 앨범이 아니라 아티스트를 선정하는 기획이었더라도 다섯 손가락 안에는 꼽혔을 거다. 그만큼 현재 음악계에서 몽구스는 꽤나 중요한 위치를 차지하고 있다.

						4번 타자가 홈런을 치는 방법
						드러머 링구가 제대한 2010년 2월부터 밴드는 합주에 들어갔다. 밴드는 많은 시행착오를 겪었는데 어떤 시행착오냐고 꼬치꼬치 물으니 이런 답이 돌아왔다. `이번 앨범은 지난 앨범들 보다 훨씬 많은 데모를 만들었습니다. 7차 데모까지 있었으니까 [Cosmic Dancer]의 11곡은 어림잡아 100곡 중에서 고른 셈이죠. 초반 데모곡들이 3집과 비슷한 스타일이었는데 머물지 말고 그걸 뛰어넘는 앨범을 만들자고 다짐해서 그때부터 다 뒤집고 다시 새로운 곡들을 만들었습니다. 그 시간들이 길어져서 힘들었지만 지금 생각하면 달콤쌀싸름합니다. 그렇게 많은 시도를 하며 새로운 곡을 만들다 기타를 넣자는 결심도 하게 되었고...` 음악을 들어보면 과연 그런 굳은 결심이 용감한 비트와 반짝이는 멜로디에 녹아있다. 모두 알다시피 이번 앨범은 몽구스가 4년 만에 내 놓는 네 번째 앨범이다. 멤버들은 4번 타자가 된 기분이라고 한다. 그리고 밴드도 4번 타자에게는 누구나 홈런을 기대한다는 걸 알고 있다. 그래서 몽구스는 홈런을 치기 위해 특별한 `무엇`이 필요하다고 생각했다. 그리고 곧 프로듀서(야구로 치자면 감독)가 필요하다고 결론을 내렸다. 세 명 모두 동시에 동일인물을 원했다. 그건 바로 지누(hitchhiker)!! 롤러코스터부터 엄정화, 브라운아이드걸스 심지어 소녀시대까지 밴드음악에 대한 이해와 함께 댄스음악으로 홈런을 경험한 그 1인은 지누가 유일하리라. 제작사의 말에 따르면 지누 역시 후배 밴드의 청이 무척 반가웠던 모양이다. 지누는 앨범의 몇 곡에선 직접 기타를 연주하며 밴드의 일원으로 함께 했다. 롤러코스터의 향수와 뮤지션 지누에 관심있는 청자라면 앨범에 녹아있는 지누의 체취를 느끼는 것도 큰 재미겠다.

						지누(hitchhiker) + 일렉트릭 기타 + 100곡 + 2011년
						결과적으로 몽구스와 지누의 작업은 옳았다. 처음에는 너무 세련된 옷을 입은 것은 아닐까 낯설기도 했지만 곧 관성적인 판단이라고 결론지었다. 공기 중에 떠돌던 여러 소리들은 댄서블하면서도 생기있는 톤으로 구현되었고, 밴드는 직선적인 후렴구를 통해 더욱 록킹해졌다.

						1번 트랙 `Cosmic Dancer`부터 밴드는 현정체성을 숨기지 않고 보여주고 있다. 장르적으론 밴드 포맷과 댄스음악의 경계를 위태위태하게 거니는데, 오히려 그런 긴장감이 춤추지 않고는 견딜 수 없게 만든다. 참, 이 곡의 후렴구 `뒤돌아보지 않을 용기, 결코 후회하지 않을 젊음`이란 가사를 집고 넘어가자. 수줍게 혀를 굴리던 몬구를 생각하면 이 가사는 거의 그로울링 수준이다. 몽구스 역사를 통틀어 가장 힘주어 부르는 가창이다. 더 이상 몽구스는 귀엽게 생긴 꿈만 꾸는 소년이 아니라고 웅변하고 있으며 음악적 변화와도 궤를 같이 한다. 몽구스는 한 단계 다른 차원으로 이동했음이 분명하다.

						`서울의 밤 청춘의 밤`은 몽구스가 팝밴드로써의 욕심을 보여주는 곡이다. 이 곡은 향수에 비유하고 싶다. 몽구스만의 꿈꾸는 듯 반짝이는 멜로디를 베이스 노트로, 슈샤드의 싱그러운 기타사운드를 미들 노트로, 그리고 탑 노트로 몬구의 사랑스러운 가사를... 그 어느 누가 이 향에 끌리지 않을 수 있을까. `서울의 밤 청춘의 밤` 향수 이름으로도 괜찮다.

						`변해가네`는 엄밀히 말하면 발라드곡이다. 여기에서의 발라드는 목젖까지 보이는 가창력 있는 가수의 발라드가 아닌 목젖 너머로 쥐어 짜는 심장을 보여주는 그런 발라드다. 몽구스를 아는 사람이라면 누구라도 `나빗가루 립스틱`을 기억한다. 도대체 그 감성이 어떻게 이 `변해가네`로 바뀌었는지 경이롭기까지 하다.

						뒤돌아보지 않을 용기 결코 후회하지 않을 젊음
						멤버들에게 이번 새 앨범에 대한 소감을 물었다. 멤버들은 하나 같이 입을 굳게 다물었다가 짧은 한 숨을 쉬고 이렇게 얘기한다.
						`4집이지만 오히려 밴드를 새로 시작하는 기분입니다. 대충 그저 그런 앨범을 만들 바에 관두자고 결심했었죠. 거짓말 같겠지만 지난 4년 동안 단 하루도 곧 발매될 이 앨범에 대해 잊은 적 없습니다. 우리에게 있어 최선의 노력과 시간을 쏟은 결과물이기에 정말 한 치의 부끄러움과 망설임 없이 이번 앨범의 곡들이 사랑스럽고 자랑스럽습니다. 물론 최선을 다했기에 기대도 큽니다. 하지만 그 결과가 우리의 기대만큼 되지 않더라도 후회는 하지 않겠습니다. 그것이 우리가 생각하는 `뒤돌아보지 않을 용기`이며 `결코 후회하지 젊음`이기에...`</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
			<h3>Girl Friend [EP]</h3>
			<div class="col-md-6">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002899&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
			<div class="col-md-6">

				<div class="music-description">여자아이를 좇는 남자아이의 마음. 몽구스 EP [Girlfriend]

					몽구스는 ( )에 대해 노래하는 대한민국의 3인조 밴드이다. 다음 중 ( )에 들어가기에 적합하지 않은 것은?
					1) 밤 2) 서울 3) 댄스 4) 우주 5) 여자친구

					좀 싱거운가? 그 동안 몽구스의 음반을 한 장이라도 들어본 사람이라면 금새 '답은 없다'는 것을 알 수 있을 것이다. 2004년에서 2011년까지, 7년이라는 적지 않은 시간 동안 4장의 정규 앨범을 발표해 왔지만 그들이 노래하는 테마는 크게 변하지 않았다는 인상이다. 사운드의 측면에서는 꽤 많은 변화도 있었다. 스스로 ‘부레옥잠 사운드’라 명명한 로파이(lo-fi)한 소리를 여과 없이 담아냈던 1집 [Early Hits Of The Mongoose]과 ‘기타 없는 3인조 록밴드’라는 실험을 훌륭히 성공시킨 3집 [The Mongoose]를 비교해 들어보라. 빈티지한 오르간 소리와 특유의 공간감으로 각인된 2집 [Dancing Zoo]과, 그 동안 배제했던 기타사운드를 적극적으로 포용한 4집 [Cosmic Dancer]의 차이는 또 어떤가. 이렇게 그들은 사운드 면에서 유연한 변화를 취해왔지만, 그들이 다루는 테마는 흡사 그들의 몸을 구성하는 주요 원소와도 같이 일정하게 자리 잡고 있었다.

					그렇다면 팬의 입장에서는 특정 테마를 중심으로 그들의 음악을 묶음으로 감상하고 싶은 충동을 느낄 수도 있겠다. 이제 4집 밴드가 된 몽구스이니 만큼 밤에 대한 노래, 춤에 대한 노래들만 묶어도 앨범 한 장 정도는 만들 수 있지 않을까? 이와 같은 발상에 맞장구라도 치듯이 그들이 준비한 앨범이 바로 이번 EP인 [Girlfriend]이다. 첫 곡에서 마지막 곡까지 줄기차게 여자친구를 향한 남자아이의 토로로 점철되어 있는 이 앨범의 가사를 보다 보면 그 솔직하고 직설적인 화법과 단순한 접근에 감탄하게 된다. ‘말로 하기엔 바보 같은 것들이 노래로 불려진다’고 볼테르가 얘기 했던가. 하지만 여기에 몽구스의 비트와 멜로디와 사운드가 얹어지면 얘기는 전혀 달라진다. 단숨에 이어폰을 낀 머리를 까딱거리게 만들고 공연장을 들썩이게 만드는 몽구스표 그루브가 완성되는 것이다.

					음반을 감상하다 보면, 사실 몽구스의 음악은 여자아이를 좇는 남자아이의 마음 그 자체인 것임을 깨닫게 된다. 사운드의 질감이 바뀌는 동안에도 줄곧 그들의 음악은 첫눈에 반한 여자아이가 다가올 때처럼 쿵쿵거렸고, 그 아이와 보는 새벽 별처럼 뿅뿅 거리지 않았던가. 패드 사운드는 막 손잡은 커플의 체온처럼 따스하게 번져갔고, 오르간 소리는 눈앞에 어른거리는 그녀의 미소처럼 몽글대지 않았던가 말이다. 그래서 이번 EP야말로 몽구스라는 밴드를 압축적으로 설명해주는 다이제스트와 같은 역할을 할 수 있겠다는 생각도 든다. 새로운 팬들이 몽구스 월드를 유람하는데 로드맵으로 삼기에도 좋을 뿐 아니라, 기존 팬들의 밴드에 대한 이해를 깊게 하는 데도 도움이 될 것이라고 말이다.

					지난 4집 앨범 발매 후 가졌던 인터뷰에서 그들은 ‘4집 앨범을 4번 타자 삼아서 이제는 홈런을 치고 싶다’고 했다. 야구 경기라면 야구공이 떨어진 지점이 홈런의 여부를 결정한다. 하지만 음악의 경우라면 얘기가 다르다. 배트와 경식 야구공이 아닌 음과 비트를 매개로 펼쳐지는 이 게임에서 타자가 때린 공은 언제까지고(심지어 타자가 죽은 다음까지도!) 날아가고 있는 것이다. 어느덧 1년이 흘러 다시 타석에 들어선 몽구스는 오로지 한 가지 공만 노리기로 한 모양이다. 사실, 이런 타입의 타자가 투수 입장에서는 가장 무섭다. 몽구스가 또 한번 홈런을 날리게 될지는 모른다. 확실한 것은 이 음반을 손에 든 사람은 모두 홈런볼을 주운 소년처럼 흐뭇한 미소를 짓게 될 거란 사실이다.

					- ‘가을방학’ 정바비(http://bobbychung.com)</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 thumbnail white-black">
				<h3>Girlfriend 360 Sounds Remix Ver.</h3>
				<div class="col-md-6">
					<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43014994&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
				<div class="col-md-6">
					<div class="music-description">Mongoose EP [Girlfriend] DJ Remix ver.
						dj soulscape, Jinbo, Plastic Kid x mongoose

						댄서블한 모던락 밴드 몽구스의 음악이 본격적으로 몸을 들썩이게 만드는 그루비한 음악으로 재탄생 했다. 이 시대의 가장 실력 있는 디제이 dj soulscape, Jinbo, Plastic Kid 3인이 몽구스의 EP [girlfriend]의 수록 곡 3곡에 새로운 리듬과 소스를 덧입혀 리믹스 버전을 선보인다. 무대 위에서 춤추는 몽구스를 비추던 조명이 이제는 마음 놓고 음악에 몸을 맡긴 플로어의 소녀들에게로 옮겨간다. 몽구스 특유의 용감한 비트와 반짝이는 멜로디가 창조적인 비트메이커인 디제이들의 사운드와 완벽하게 어우러져 이들의 만남을 더욱 필연적으로 만들었다.

						[작업 노트]
						dj soulscape (TOGETHER FOREVER remix)
						몽구스를 처음 알게 된 것은 dancing zoo 앨범을 들었을 때였어요. 그때는 신스를 기반으로 한 팝/락/뉴웨이브 밴드를 찾아보기 어렵던 시절이라 이들의 발견은 매우 신선했습니다. 한국/서울이라는 지역적 감성을 담은 유니크한 정서도 인상적이었어요. 이번 작업을 의뢰 받았을 때 일부러, 어떻게 하면 되겠다 싶은 곡이 아닌 한번 들어보았을 때 아이디어가 떠오르지 않는 곡을 골라보았습니다. 모든 소스들을 80년대 초 중반의 부기훵크 샘플에서 차용하는 것으로 작업의 룰을 정했고, 거친 에디트 방식 그대로를 매우 단순한 형식으로 재현 하고자 했습니다.

						Jinbo (SECRET KISS remix)
						몽구스의 음악은 한국으로 한정 지어지지 않는 보편적인 인디 팝/락 정서를 담고 있어요. 남성적이면서 여성적인 정서를 함께 가지고 있는 점도 흥미로운 부분입니다. 큰 야외 공연장에서 들으면 더욱 가슴 뛸 것 같은 느낌이에요. ‘비밀키스’를 작업 곡으로 선택한 이유는 '비밀키스'를 들으면서 느낀 담긴 은밀함, 짜릿함, 아련함, 안타까움, 설레임, 뜨거움, 죄책감, 불량함, 달콤함, 애절함, 섹시함을 음악에 담아보고 싶었기 때문입니다. 계속 반복되는 리듬패턴이지만 자세히 들어보면 미세한 변화들이 있어요. 작은 변화가 반복되는 리듬으로 "계속 춤추고 싶은" 또 코드나 벨 소리를 차용해 "꿈 속 세계에 빠져 든 듯한" 분위기를 만들어 보고 싶었습니다. 덧붙여 중간에 half time 으로 느려지는 부분으로 "느린 클라이막스" 를 만들고, 보컬 아카펠라를 활용한 효과음들을 통해 환상적이고 아련한 기억을 표현해 보았습니다.

						Plastic Kid (Bohemian Girlfriend remix)
						360sound를 통하여 몇 차례 인연이 있는 몽구스는 개개인의 개성이 잘 도드라지고 또 그러한 개성이 좋은 밸런스를 이루고 있는 밴드라고 생각해 왔었습니다. 그런 몽구스의 곡을 리믹스 해보는 일은 저에게도 즐거운 작업이었어요. 타이틀 곡이 ‘보헤미안 걸프렌드’라는 것을 리믹스를 마치고 나서야 알게 되었습니다. 그래서인지 조금 부담이 되는 게 사실이었어요. 하지만 저만의 해석이 잘 묻어난 전혀 색다른 음악이 만들어져 참 마음에 듭니다. 처음 들었을 때부터 이 곡이 저와 잘 맞는다는 느낌을 받았기 때문에 조금도 주저 없이 이 곡을 pick하게 되었거든요. 저도 역마살이 껴서인지 여기저기 돌아다니는 것을 좋아하기도 하고요. 원래 리믹스를 할때 원곡을 한, 두 번 만 듣고 아카팰라 위주로 작업을 하는 편인데, 그렇게 해서 완전히 새로운 코드와 느낌으로 바뀌어지는 것이 재미있고 좋더라고요. 90년대 후반부 댄스뮤직의 느낌을 내고 싶어서 멜로디와 단순한 리듬에 중점을 두어 작업을 해 보았습니다.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>