<div class="music-header text-center">
	<h2>Discograpy</h2>
</div>
<section id="first" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43001396&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div class="col-md-4">
			<h3>Early Hits of the Mongoose</h3>
			<p>독특한 색깔로 홍대 클럽씬에서 탄탄한 팬층을 확보하고 있으며, 다소 몽환적이며 복고적인 따뜻한 사운드를 들려준다.</p>
		</div>
	</div>
</section>
<section id="second" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002084&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div class="col-md-4">
			<h3>Dancing Zoo</h3>
			<p>대담함과 재치에 있어 산울림을 떠올리게 했던 신인 밴드 몽구스의 두번째 앨범. '모두 함께 몽구스와 춤춰요'라고 권한다. 넓고 유연해진 인디 음악의 현주소를 확인할 수 있다.</p>
		</div>
	</div>
</section>
<section id="third" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002275&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div class="col-md-4">
			<h3>The Mongoose</h3>
			<p>젊음 있는 가정마다 한 장씩! Mongoose ? [The Mongoose]

				*Mongoose
				2004년 리뷰어들로부터 ‘썩 좋은’ 데뷔작이라는 평을 들어온 [Early Hits of the Mongoose], 제 3회 한국 대중음악상 ‘최우수 모던록 앨범 부문’을 수상하며 평단으로부터 확실한 검증을 받은 [Dancing Zoo]에 이어 한층 더 넘치는 그루브감과 댄서블한 트랙들로 가득 찬, 밴드명을 앨범 타이틀로 내걸 정도로 자신감이 넘치는 3집 [The Mongoose]로 돌아왔습니다. 그간 홍대앞 클럽 공연과 지방 투어 공연을 틈틈이 진행시키며 착실히 팬 층을 쌓아가던 그들은 자신들의 음악세계에 방점을 찍는 듯한 완성도 높은 음반을 내놓았습니다.</p>
		</div>
	</div>
</section>
<section id="fourth" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002601&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
		<div class="col-md-4">
			<h3>Cosmic Dancer</h3>
			<p>한국대중음악상 최우수 모던록 앨범상을 수상하며 주목 받은 `몽구스`와 소녀시대, 브라운아이드걸스의 노래를 히트시키며 인기 작곡가 대열에 합류한 `지누(Hitchhiker)`의 화려한 콜라보레이션!!</p>
		</div>
	</div>
</section>
<section id="fifth" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43002899&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
		<div class="col-md-4">
			<h3>Girl Friend [EP]</h3>
			<p>여자아이를 좇는 남자아이의 마음. 몽구스 EP [Girlfriend]

				몽구스는 ( )에 대해 노래하는 대한민국의 3인조 밴드이다. 다음 중 ( )에 들어가기에 적합하지 않은 것은?
				1) 밤 2) 서울 3) 댄스 4) 우주 5) 여자친구</p>
		</div>
	</div>
</section>
<section id="sixth" class="container music-section text-center">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 thumbnail">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43014994&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>		</div>
		<div class="col-md-4">
			<h3>Girlfriend 360 Sounds Remix Ver.</h3>
			<p>댄서블한 모던락 밴드 몽구스의 음악이 본격적으로 몸을 들썩이게 만드는 그루비한 음악으로 재탄생 했다. 이 시대의 가장 실력 있는 디제이 dj soulscape, Jinbo, Plastic Kid 3인이 몽구스의 EP [girlfriend]의 수록 곡 3곡에 새로운 리듬과 소스를 덧입혀 리믹스 버전을 선보인다. 무대 위에서 춤추는 몽구스를 비추던 조명이 이제는 마음 놓고 음악에 몸을 맡긴 플로어의 소녀들에게로 옮겨간다. 몽구스 특유의 용감한 비트와 반짝이는 멜로디가 창조적인 비트메이커인 디제이들의 사운드와 완벽하게 어우러져 이들의 만남을 더욱 필연적으로 만들었다.</p>
		</div>
	</div>
</section>