<section class="section" id="photos">
	<div class="container">

		<h2 class="text-center title">Discography</h2>

		<p class="lead text-center">
			Discography of the Mongoose<br> JJang JJang Man.
		</p>

		<div id="gallery" data-toggle="jsfg" data-set-id="72157625262475664" data-per-page="30">
		</div>
	</div>
</section>

<div id="jsfg-modal" class="modal fade jsfg-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="modal-image"></div>
			</div>
			<div class="modal-footer">
				<button title="Previous image" class=" btn modal-prev">«</button>
				<button title="Next image" class=" btn modal-next">»</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div><!-- /.modal -->