<section id="talk" class="contact-section text-center">
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Talk</h2>
			<div class="row">
				<div class="col-md-4">
					<a class="twitter-timeline" href="https://twitter.com/mon9star" data-widget-id="496591432686108673">
						<div class="spin"></div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="twitter-timeline" href="https://twitter.com/Ring9star" data-widget-id="496591488185147395">
						<div class="spin"></div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="twitter-timeline" href="https://twitter.com/5uchard" data-widget-id="496591553842786304">
						<div class="spin"></div>
					</a>
				</div>
			</div>
			<div class="row">
				<div disqus="id"></div>
			</div>
		</div>
	</div>
	</div>
</section>
