<section class="music-section">
	<div class="container">
		<div class="row top-padding text-center">
		</div>
		<div id="container" class="row head-shadow">
			<div class="col-md-offset-2 col-md-8 vignette">
				<a href="/#!/video/PLjUbmuKmbsoVSXDEXlk_9yEF6Qnre0wGt">
					<div></div>
					<img width="100%" src="/assets/images/video/official.png">
					<h2 class="inner-header">OFFICIAL<br>VIDEOS</h2>
				</a>
			</div>
			<div class="col-md-offset-2 col-md-8 vignette">
				<a href="/#!/video/PLjUbmuKmbsoU8fcyQoSx7O_F48AMX0Q2G">
					<div></div>
					<img class="vignette" width="100%" src="/assets/images/video/live.png">
					<h2 class="inner-header">LIVE</h2>
				</a>
			</div>
			<div class="col-md-offset-2 col-md-8 vignette">
				<a href="/#!/video/PLjUbmuKmbsoWcdfvR38MNqF4hoWuGFd1x">
					<div></div>
					<img class="vignette" width="100%" src="/assets/images/video/interview.png">
					<h2 class="inner-header">INTERVIEWS</h2>
				</a>
			</div>
			<div class="col-md-offset-2 col-md-8 vignette bottom-padding">
				<a href="/#!/video/PLjUbmuKmbsoW3zcgeUF-bW6yQ1vkgg8Ah">
					<div></div>
					<img class="vignette" width="100%" src="/assets/images/video/misc.png">
					<h2 class="inner-header">MISCELLANEOUS</h2>
				</a>
			</div>
		</div>
	</div>
</section>