<style>
#container {
	text-shadow: black 0.1em 0.1em 1em;
}
.inner {
	position:absolute;
	top: 0;
	color: #ffffff;
}
</style>
<section class="music-section">
	<div class="container">
		<div class="row top-padding text-center">
		</div>
		<div id="container" class="row">
			<div class="col-md-offset-2 col-md-8">
				<a href="/#!/video/PLjUbmuKmbsoW3zcgeUF-bW6yQ1vkgg8Ah"><img width="100%" src="/assets/images/video/official.png"><h2 class="inner">OFFICIAL<br>VIDEOS</h2></a>
			</div>
			<div class="col-md-offset-2 col-md-8">
				<a href="/#!/video/PLjUbmuKmbsoW3zcgeUF-bW6yQ1vkgg8Ah"><img width="100%" src="/assets/images/video/live.png"><h2 class="inner">LIVE</h2></a>
			</div>
			<div class="col-md-offset-2 col-md-8">
				<a href="/#!/video/PLjUbmuKmbsoW3zcgeUF-bW6yQ1vkgg8Ah"><img width="100%" src="/assets/images/video/interview.png"><h2 class="inner">INTERVIEWS</h2></a>
			</div>
			<div class="col-md-offset-2 col-md-8">
				<a href="/#!/video/PLjUbmuKmbsoW3zcgeUF-bW6yQ1vkgg8Ah"><img width="100%" src="/assets/images/video/misc.png"><h2 class="inner">MISCELLANEOUS</h2></a>
			</div>
		</div>
	</div>
</section>