<h4>춤추지 않는 당신은 21세기 마지막 남은 몬스터.!</h4>
광막한 우주의 무수한 식구들 안녕하십니까. 저는 라디오 프리 유니버스 ‘몽구스’의 김몽구입니다. 서기 05년 8월에 발매된 몽구스의 2집 'Dancing Zoo' 앨범과 수록곡들에 대해서 나름대로 친절히 설명하려고 합니다.
<br>
<br>
작년 비트볼에서 발매된 1집 [Early Hits of The Mongoose]가 골방의 로우파이 댄서들을 위한 앨범이었다면, 이번 몽구스 2집 [Dancing Zoo]는 길에서 길로, 이어지기에 만날 수 있고 함께할 수 있는 스트리트 댄서들을 위한 댄서너블한 앨범입니다. 지난 겨울동안 쉴새없이 넘쳐나는 에너지들 속에서 첫 스튜디오 녹음을 했으며 폭발적인 라이브 질감을 컨셉으로 잡고, ‘라디오 프리 유니버스’의 신념아래에서 춤을 추듯 노래하고 춤을 추듯 연주했습니다.
<br>
<br>
<br>

<h5>1. New Song</h5>
몽구스의 1집 'early hits of the mongoose'의 마지막 곡(drunken mongoose)을 기억하시나요. 몽구스가 우주로 보냈던 모스 신호(cos morse)들이 아르페지오 효과로 증폭되어 지구로 다시 송신되어 돌아옵니다. 광막한 우주의 무수한 식구들에게서 온 일종의 답신이죠. 그 신호는 라디오나 전역에 고루 고루 퍼지고 [Dancing Zoo]에 몽구스에 의해 레코딩됩니다. 그리고, 앨범을 듣는 바로 지금. 당신의 눈 앞에 우리의 라디오 프리 유니버스 ‘라디오나’가 열립니다.
<br>
<br>
<br>

<h5>2. 마이클 잭슨</h5>
'빌리진' 베이스 리프로 시작되는 2번째 트랙 '마이클 잭슨'은 몽구스가 언제나 탐내어하는 댄스의 황제였던 그의 영광을 노래한 것입니다. "라디오 주파수타고 춤추고 노래하고 문워킹.”
<br>
<br>
<br>

<h5>3. 나빗가루 립스틱</h5>
환타스틱한 몽구스의 발라드 넘버. “나빗가루 립스틱 떨리는 그 숨비소리 설레던 시월의 웃음은 숨결로 이 밤에 나빌레라. 짧았던 여름 지나가고 함께 나눈 이야기들 숨죽여 취하며 울었던 노래들 모두다 기억해요.”
<br>
<br>
<br>

<h5>4. 오늘이 바로 내</h5>
“오늘이 바로 내 스무번째 생일, 그대가 바로 내, 이십일세기 첫 애인/ 지금이 바로 내, 취함을 기억한 첫밤/ 이밤이 바로 내, 죽을만큼 벅찬 한순간/”&nbsp;&nbsp;우주 최고의 드러머 링구는 이제 갓 스물입니다. 스무살에 느꼈을 법한 두려움과 설레임의 미묘한 그 중간 어딘가를 노래했습니다.
<br>
<br>
<br>

<h5>5. I Wanna Kiss You</h5>
아 워너 키스 유!
<br>
<br>
<br>

<h5>6. 마지막 도마뱀</h5>
슈샤드의 숨을 멈추게 만드는 베이스 리프가 시작되는 순간 당신은 이 곡이 누구에게 누구를 위해 바쳐지며 만들어진 노래인지 단번에 알게 될 것입니다. 80년대 살고 싶다면 결코 멈출 수 없었던 춤을 추었던 그들과 독버섯에 가려진 환상들 그리고 죽음까지.
<br>
<br>
<br>

<h5>7. 허니문</h5>
몽구스의 에너지 넘치는 싸이키델릭 락킹 씬스트랙입니다. 이 곡의 묘미는 누가 뭐래도 도발적이고 섹시한 디스트 머금은 슈샤드의 베이스 솔로잉.&nbsp;&nbsp;“허니문 한번 가보자 따라 가보자 오늘밤 떠나자.”
<br>
<br>
<br>

<h5>8. 춤추는 동물원</h5>
여러분, 우리가 서울의 것입니까. 서울이 우리의 것입니까. 몽구스 멤버들이 이번 앨범에서 가장 애착을 갖는 노래이기도 합니다. 멤버들의 독특한 아우라가 멋진 화학작용을 일으키는 노래입니다. 우리의 서울에서 “아름답고 아름답게. 춤을 추고 노래합시다.”
<br>
<br>
<br>

<h5>9. Suchard King Chant</h5>
몬스터 3부작의 첫 장으로 몽구스의 황홀한 싸이키델릭 넘버입니다. 이 곡은 특별히 베이시스트 슈샤드를 위한 곡입니다. 여러분이 살아생전 슈샤드의 베이스를 음반으로 공연으로 보고 듣고 느낄 수 있다는 것은 정말 굉장히 대단한 행운이라고 생각됩니다만 뭐 아니라면 어쩔 수 없고.. 확실한 것은 아마 슈샤드가 없었다면 이런 앨범도 없었을 테지요.
<br>
<br>
<br>

<h5>10. Stereo Walts</h5>
몬스터 3부작중 2부로써, 꿈틀거리는 우주의 리듬과 순회의 연주곡입니다.
<br>
<br>
<br>

<h5>11. Monster</h5>
춤추지 않는 당신은 21세기 마지막 남은 몬스터.! 그런 당신을 위한 노래. 몬스터 3부작의 완결입니다.