<h4>젊음 있는 가정마다 한 장씩! Mongoose ?<br>[The Mongoose]</h4>
<h5>Mongoose</h5>
2004년 리뷰어들로부터 ‘썩 좋은’ 데뷔작이라는 평을 들어온 [Early Hits of the Mongoose], 제 3회 한국 대중음악상 ‘최우수 모던록 앨범 부문’을 수상하며 평단으로부터 확실한 검증을 받은 [Dancing Zoo]에 이어 한층 더 넘치는 그루브감과 댄서블한 트랙들로 가득 찬, 밴드명을 앨범 타이틀로 내걸 정도로 자신감이 넘치는 3집 [The Mongoose]로 돌아왔습니다. 그간 홍대앞 클럽 공연과 지방 투어 공연을 틈틈이 진행시키며 착실히 팬 층을 쌓아가던 그들은 자신들의 음악세계에 방점을 찍는 듯한 완성도 높은 음반을 내놓았습니다.
<br>
<br>2005년의 발견. 기타없이도 얼마나 코링한 사운드를 만들 수 있는지 증명한 몽구스는 분명 넥스트빅싱이 될 것이다. 사이키델릭한 사운드에 묻어드는 그루브. 거기에 시적인 가사가 얹혀 20대 초반의 나이에 만든 음악이라고는 믿을 수 없는 완성도를 선사한다. 소녀취향음악이 범람했던 2005년 모던록계의 유일한 보석이라고 해도 지나치지 않다.
<br>(대중음악평론가 김작가)<br><br>- 제 3회 한국 대중음악상 심사 소감 中-
<br><br><br>
<h5>몽구스, 김성수 PD와 만나다!</h5>
2집의 노이즈 캣(프로듀서)등 인디씬의 숨은 유능한 뮤지션들과 함께 음반작업을 해온 것으로도 유명합니다. 이번 3집에서 역시 몽구스는 새로운 앨범 제작에 들어가면서 자신들의 음악에 광을 더해줄 새로운 프로듀서를 찾고 있었습니다. 마침 몽구스의 음악을 유심히 들어왔던 김성수 프로듀서는 몽구스 멤버들과 자리를 함께 하게 되었고, 멤버들은 음반 프로듀서, 뮤지컬 음악감독 등 화려한 경력의 김성수 PD에 전적으로 신뢰를 보내며 음반의 녹음이 시작되었습니다.
<br><br><br>
<h5>한결 밝고 한결 가벼워진, 그리고 한결 들썩이는 넘버들!</h5>
스트레이트하면서도 스물거리는, 뜨거우면서도 노곤한 그루브를 표현해내던 전작 [Dancing Zoo]에 비해 김성수PD의 손을 거치며 한결 파퓰러한 곡들을 매우 좋은 사운드로 뽑아낸 [Mongoose]에는 전작들에 비해 더욱 흥겨운 노래들로 가득합니다. 특히 이번 앨범에서는 전형적인 몽구스 타입의 곡인 가 흥겨운 멜로디와 현기증 나는 신스 패드를 통해 드라이브감의 극치를 맛보게 해줍니다. 이 외에도 2집 활동 중 공연을 통해 미리 선보여 팬들 사이에서 인기곡으로 자리매김한 &lt;88&gt;, 80년대 뉴웨이브 밴드들의 전성기를 연상케 하는 등등 밴드명을 타이틀로 내건 [The Mongoose]라는 타이틀에 걸맞는 수작들이 다수 포함되어 있습니다.
<br><br>
- 비범하고 자극적인, 댄스 플로어를 위한 로큰롤 음반. 새로움에 대한 열망과 옛 것에 대한 향수가 흥미진진하게 뒤엉켜 있다. - 최민우 (웹진 [weiv])<br>
- 우리가 기다리고 있었던 100%의 몽구스. 완성형에 도달한 80년대 사운드가 격정적으로 돌아가는 미러볼처럼 낭만의 빛을 뿜어낸다. - 김작가 (음악수필가)<br>
- 다분히 복고적인 듯하면서도 가장 최신 트렌드이고, 여린 듯 어눌한 듯하면서도 치명적인(?!) 유혹이 있는 몽구스의 새로운 음악들은 한 마디로 절제와 세련미를 함축하고 있다. 여전히 댄서블한 그루브와 가슴절절한 이색 서정의 공존! 이렇게 열심히 노력한 그대들, 올 해는 런던행 비행기를 타보는 것도 좋지 않을까?! - 성우진(음악평론가, 방송작가)
<br><br><br>
<h5>한밤중의 소년들</h5>
무방비도시 서울의 밤, 몽구스의 3집 [The Mongoose]는 가차없이 당신을 초록빛으로 함몰시킨다. 당신으로 하여금 우주 최고의 옷으로 갈아입고 집을 나서게 만들고, ‘초록빛 밤’과 ‘초록색 밤’을 구분하도록 권유하고, ‘우주는 사랑이라 우리 만난 이 밤’을 춤추며 기념하길 종용할 것이다. 그러나 주의할 것. 모든 걸 잊을 수 있는 치명적인 쾌락을 주겠지만, 책임지진 않는다. 한밤중의 소년들이란 워낙 그렇다. - 장우철 ( 피처 에디터)
<br><br><br>
<h5>“몽구스가 빚어내는 찬란한 낭만의 사운드스케이프” - 리더 몽구가 소개하는 몽구스의 노래들</h5>
우리 몽구스는 앨범을 만들 때 마치 우주선을 작동시키는 기분이었습니다. 하나 하나 신디사이저의 작은 노브들을 만지면서 컨트롤하고 톤을 잡고, 앰프와 믹서의 페이터와 노브를 지정하면서 소리를 듣고 또 만지고 또 고쳐서 이렇게 앨범까지 완성이 되었죠. 지금부터 여러분이 듣게 될 것은 단순한 밴드연주가 아니라 여러분을 황홀경으로 인도하는 하나의 안내서가 되어 여러분을 춤추게 했으면 좋겠습니다.