<h4>Girlfriend DJ Remix ver.<br>dj soulscape, Jinbo, Plastic Kid  x  mongoose</h4>
댄서블한 모던락 밴드 몽구스의 음악이 본격적으로 몸을 들썩이게 만드는 그루비한 음악으로 재탄생 했다. 이 시대의 가장 실력 있는 디제이 dj soulscape, Jinbo, Plastic Kid 3인이 몽구스의 EP [girlfriend]의 수록 곡 3곡에 새로운 리듬과 소스를 덧입혀 리믹스 버전을 선보인다. 무대 위에서 춤추는 몽구스를 비추던 조명이 이제는 마음 놓고 음악에 몸을 맡긴 플로어의 소녀들에게로 옮겨간다. 몽구스 특유의 용감한 비트와 반짝이는 멜로디가 창조적인 비트메이커인 디제이들의 사운드와 완벽하게 어우러져 이들의 만남을 더욱 필연적으로 만들었다.
<br><br><br>
<h5>dj soulscape (TOGETHER FOREVER remix)</h5>
몽구스를 처음 알게 된 것은 dancing zoo 앨범을 들었을 때였어요. 그때는 신스를 기반으로 한 팝/락/뉴웨이브 밴드를 찾아보기 어렵던 시절이라 이들의 발견은 매우 신선했습니다. 한국/서울이라는 지역적 감성을 담은 유니크한 정서도 인상적이었어요. 이번 작업을 의뢰 받았을 때 일부러, 어떻게 하면 되겠다 싶은 곡이 아닌 한번 들어보았을 때 아이디어가 떠오르지 않는 곡을 골라보았습니다. 모든 소스들을 80년대 초 중반의 부기훵크 샘플에서 차용하는 것으로 작업의 룰을 정했고, 거친 에디트 방식 그대로를 매우 단순한 형식으로 재현 하고자 했습니다.
<br><br><br>
<h5>Jinbo (SECRET KISS remix)</h5>
몽구스의 음악은 한국으로 한정 지어지지 않는 보편적인 인디 팝/락 정서를 담고 있어요. 남성적이면서 여성적인 정서를 함께 가지고 있는 점도 흥미로운 부분입니다. 큰 야외 공연장에서 들으면 더욱 가슴 뛸 것 같은 느낌이에요. ‘비밀키스’를 작업 곡으로 선택한 이유는 '비밀키스'를 들으면서 느낀 담긴 은밀함, 짜릿함, 아련함, 안타까움, 설레임, 뜨거움, 죄책감, 불량함, 달콤함, 애절함, 섹시함을 음악에 담아보고 싶었기 때문입니다. 계속 반복되는 리듬패턴이지만 자세히 들어보면 미세한 변화들이 있어요. 작은 변화가 반복되는 리듬으로 "계속 춤추고 싶은" 또 코드나 벨 소리를 차용해 "꿈 속 세계에 빠져 든 듯한" 분위기를 만들어 보고 싶었습니다. 덧붙여 중간에 half time 으로 느려지는 부분으로 "느린 클라이막스" 를 만들고, 보컬 아카펠라를 활용한 효과음들을 통해 환상적이고 아련한 기억을 표현해 보았습니다.
<br><br><br>
<h5>Plastic Kid (Bohemian Girlfriend remix)</h5>
360sound를 통하여 몇 차례 인연이 있는 몽구스는 개개인의 개성이 잘 도드라지고 또 그러한 개성이 좋은 밸런스를 이루고 있는 밴드라고 생각해 왔었습니다. 그런 몽구스의 곡을 리믹스 해보는 일은 저에게도 즐거운 작업이었어요. 타이틀 곡이 ‘보헤미안 걸프렌드’라는 것을 리믹스를 마치고 나서야 알게 되었습니다. 그래서인지 조금 부담이 되는 게 사실이었어요. 하지만 저만의 해석이 잘 묻어난 전혀 색다른 음악이 만들어져 참 마음에 듭니다. 처음 들었을 때부터 이 곡이 저와 잘 맞는다는 느낌을 받았기 때문에 조금도 주저 없이 이 곡을 pick하게 되었거든요. 저도 역마살이 껴서인지 여기저기 돌아다니는 것을 좋아하기도 하고요. 원래 리믹스를 할때 원곡을 한, 두 번 만 듣고 아카팰라 위주로 작업을 하는 편인데, 그렇게 해서 완전히 새로운 코드와 느낌으로 바뀌어지는 것이 재미있고 좋더라고요. 90년대 후반부 댄스뮤직의 느낌을 내고 싶어서 멜로디와 단순한 리듬에 중점을 두어 작업을 해 보았습니다.
<br><br><br>